body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #020617);
}

h1 {
  font-size: 3rem;
  color: #38bdf8;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
}

section {
  padding: 60px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #38bdf8;
}
